<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:20</td>   <td>0</td> <td title="&gt;&gt;TestCaseBase.beforeForTimeBox()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;beforeForTimeBox</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:20</td>   <td>5</td> <td title="&gt;&gt;TestCaseBase.beforeSuit(org.testng.ITestContext)[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;beforeSuit</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>22/05/24 15:35:20</td>   <td>5</td> <td title="&gt;&gt;EspoPOMTestBase.startRecorder()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;startRecorder</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:20</td>   <td>26</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseBase.beforeTestClass()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;beforeTestClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:20</td>   <td>46</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestCaseBase.setUpBase(java.lang.reflect.Method)[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;setUpBase</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>22/05/24 15:35:20</td>   <td>48</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;EspoPOMTestBase.beforeMethod()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="719efb">  <td>22/05/24 15:35:34</td>   <td>14456</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginTest.userLogin()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&gt;&gt;userLogin</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="719efb">  <td>22/05/24 15:35:34</td>   <td>14458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.invalidCredentials(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">invalidCredentials</td> 
  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="719efb">  <td>22/05/24 15:35:37</td>   <td>17188</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginTest.userLogoutIfNeeded()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;userLogoutIfNeeded</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>22/05/24 15:35:37</td>   <td>17470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;EspoPOMTestBase.afterMethod()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:38</td>   <td>18158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestCaseBase.maintainTestDetails(org.testng.ITestResult)[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;maintainTestDetails</td> 
<td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="e7aac8">  <td>22/05/24 15:35:38</td>   <td>18481</td> <td title="&lt;&lt;EspoPOMTestBase.storRecorder()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;storRecorder</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:38</td>   <td>18481</td> <td title="&lt;&lt;TestCaseBase.flushAndCloseReport()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;flushAndCloseReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
<tr bgcolor="ef8d72">  <td>22/05/24 15:35:39</td>   <td>18535</td> <td title="&lt;&lt;TestCaseBase.saveExecutionDetails()[pri:0, instance:com.fab.tests.LoginTest@3adbe50f]">&lt;&lt;saveExecutionDetails</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1537689020</td>   <td></td> </tr>
</table>
